body {
	background:#222;
	color:#fff;
}

#body{
	background:#fff;
	padding:10px;
	margin:100px auto;
	width:50%;
	box-shadow:0 0 10px :#000;
}

#title_bar table{
	font-family:tahoma;
	font-size:12px;
	width:100%;
}

#title_bar table td {
	padding:5px;
}

#title_bar table a {
	background:#ccc;
	padding:10px;
	text-decoration:none;
	color:#333;
	display:block;
}

#title_bar table a:hover {
	background:#fff;
}

#container {
	border:1px solid #ccc;
	padding:10px;
	margin:6px;
	color:#333;
}

#view_box {
	width:150px;
	box-shadow:0 0 5px #ccc;
	padding:5px;
	margin:5px;
	float:left;
}

#view_box img {
	width:100%;
}

.clear {
	clear:both;
}